@model Ogrenci

@using Helpers

<p>Tarih : @MyHelper.FormatDate(DateTime.Now)</p>
<p>Büyük Harf : @MyHelper.ToUpperCase("girdiğim değerler büyük harf olarak dönüşecektir")</p>



@Html.CustomLabel("Bu label bizim tarafımızdan yazılmıştır")

@Html.CustomTextBox("customtextbox","bu textbox bizim tarafımızdan yazıldı","My TextBox")


@Html.WissenTextBoxFor(s=>s.Name,"Name","form-control",new {ogrenciid="bir attribute"})
